<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:replace="~{::title}">My App</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
</head>
<body>
    <header th:replace="fragments/header :: header"></header>

    <main layout:fragment="content">
    </main>

    <footer th:replace="fragments/footer :: footer"></footer>

    <script th:src="@{/js/bootstrap.js}"></script>
</body>
</html>
